<div>
    <h2 id="page-heading">
        <span jhiTranslate="referentialStaffingApp.lMission.home.title">L Missions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-l-mission" [routerLink]="['/l-mission/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="referentialStaffingApp.lMission.home.createLabel">
            Create a new L Mission
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="lMissions?.length === 0">
        <span jhiTranslate="referentialStaffingApp.lMission.home.notFound">No lMissions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lMissions && lMissions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="referentialStaffingApp.lMission.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="referentialStaffingApp.lMission.endDate">End Date</span></th>
                    <th scope="col" ><span jhiTranslate="referentialStaffingApp.lMission.descriptionMission">Description Mission</span></th>
                    <th scope="col" ><span jhiTranslate="referentialStaffingApp.lMission.indicateurRenouvelement">Indicateur Renouvelement</span></th>
                    <th scope="col" ><span jhiTranslate="referentialStaffingApp.lMission.isActive">Is Active</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lMission of lMissions ;trackBy: trackId">
                    <td><a [routerLink]="['/l-mission', lMission.id, 'view']">{{ lMission.id }}</a></td>
                    <td>{{ lMission.startDate | date:'mediumDate' }}</td>
                    <td>{{ lMission.endDate | date:'mediumDate' }}</td>
                    <td>{{ lMission.descriptionMission }}</td>
                    <td>{{ lMission.indicateurRenouvelement }}</td>
                    <td>{{ lMission.isActive }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/l-mission', lMission.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/l-mission', lMission.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lMission)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
