<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading" jhiTranslate="referentialStaffingApp.client.home.createOrEditLabel">Create or edit a Client</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.client.nameClient" for="field_nameClient">Name Client</label>
                    <input type="text" class="form-control" name="nameClient" id="field_nameClient"
                           formControlName="nameClient"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.client.namClientIris" for="field_namClientIris">Nam Client Iris</label>
                    <input type="text" class="form-control" name="namClientIris" id="field_namClientIris"
                           formControlName="namClientIris"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.client.codeClientIris" for="field_codeClientIris">Code Client Iris</label>
                    <input type="text" class="form-control" name="codeClientIris" id="field_codeClientIris"
                           formControlName="codeClientIris"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.client.marche" for="field_marche">Marche</label>
                    <input type="text" class="form-control" name="marche" id="field_marche"
                           formControlName="marche"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.client.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
