<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sc-rate-heading" jhiTranslate="referentialStaffingApp.sCRate.home.createOrEditLabel">Create or edit a SC Rate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.sCRate.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.sCRate.niveau" for="field_niveau">Niveau</label>
                    <input type="text" class="form-control" name="niveau" id="field_niveau"
                           formControlName="niveau"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.sCRate.localisation" for="field_localisation">Localisation</label>
                    <input type="text" class="form-control" name="localisation" id="field_localisation"
                           formControlName="localisation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="referentialStaffingApp.sCRate.montant" for="field_montant">Montant</label>
                    <input type="text" class="form-control" name="montant" id="field_montant"
                           formControlName="montant"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
