<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="affectation">
            <h2><span jhiTranslate="referentialStaffingApp.affectation.detail.title">Affectation</span> {{ affectation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="referentialStaffingApp.affectation.ressource">Ressource</span></dt>
                <dd>
                    <span>{{ affectation.ressource }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.rattachementRessource">Rattachement Ressource</span></dt>
                <dd>
                    <span>{{ affectation.rattachementRessource }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.prestation">Prestation</span></dt>
                <dd>
                    <span>{{ affectation.prestation }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.codeProjet">Code Projet</span></dt>
                <dd>
                    <span>{{ affectation.codeProjet }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.status">Status</span></dt>
                <dd>
                    <span>{{ affectation.status }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.client">Client</span></dt>
                <dd>
                    <span>{{ affectation.client }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.rattachementClient">Rattachement Client</span></dt>
                <dd>
                    <span>{{ affectation.rattachementClient }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ affectation.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="referentialStaffingApp.affectation.endDate">End Date</span></dt>
                <dd>
                    <span>{{ affectation.endDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/affectation', affectation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
